.movies-card-bg {
  background: #181818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Genres-head {
  color: var(--Light-blue-gray-400, #94a3b8);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  margin-bottom: -15px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
}
.Genres-items {
  color: var(--General-White, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-left: -39px;
  margin-top: 2px;
}
.card {
  display: flex;
  flex-direction: column;
}
.list-container {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.details-item {
  color: var(--General-White, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 15px;
}
.movie-full-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: center;
  width: 80%;
}
.more-like-this-head {
  color: var(--General-White, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 50px;
}
@media screen and (max-width: 576px) {
  .more-like-this-head {
    margin-left: 38px;
  }
}

.similar-movies-list-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.similar-movies-img {
  width: 255px;
  height: 170px;
  border-radius: 8px;
  margin: 10px;
}
@media screen and (max-width: 576px) {
  .similar-movies-img {
    width: 90px;
    height: 64px;
  }
}

.movie-detail-card {
  height: 40vh;
}
.movie-title {
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.movie-overview {
  color: var(--General-White, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 130% */
  width: 632px;
}
.movie-play-button {
  display: flex;
  padding: 8px 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #fff;
  color: var(--General-Dark-blue, #171f46);
  font-family: 'HK Grotesk';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  cursor: pointer;
}
.runtime-style {
  color: var(--General-White, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.UA-Style {
  display: inline-flex;
  padding: 2px 12px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 2px;
  border: 1px solid #fff;
  color: var(--General-White, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.release-date {
  color: var(--General-White, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.movie-details-card {
  margin-left: 150px;
}
.movie-detail-card-full {
  min-height: 65vh;
  max-height: 75vh;
}
@media screen and (max-width: 576px) {
  .movie-title {
    font-size: 36px;
  }
  .runtime-style {
    font-size: 16px;
  }
  .UA-Style {
    font-size: 16px;
  }
  .release-date {
    font-size: 16px;
  }
  .movie-overview {
    font-size: 16px;
    width: 390px;
  }
  .movie-detail-card-full {
    min-height: 44vh;
    max-height: 75vh;
  }
  .movie-details-card {
    margin-left: 10px;
    padding: 10px;
  }
}
.movie-details-inner-card {
  display: flex;
  flex-direction: row;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin-top: -30px;
  margin-bottom: -20px;
}
